on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

name: macOS build
jobs:
    test-macOS:
        runs-on: ${{ matrix.os }}
        name: ${{ matrix.os }} (${{ matrix.python-version}})
        strategy:
            fail-fast: false
            matrix:
              os: ["macOS-latest"]
              python-version: ["3.11"]
        steps:
          - name: Checkout code
            uses: actions/checkout@v4
          - name: Set up Python
            uses: actions/setup-python@v5
            with:
              python-version: ${{ matrix.python-version}}
          - name: Install dependencies
            run: |
                python -m pip install --upgrade pip
                pip install --user --no-cache-dir Cython
                pip install --user -r requirements.txt
                pip install --user -r requirements_dev.txt
                pip install .
